.git
.gitignore
.omx
.pytest-inline
.pytest-run2
.pytest_cache
.tmp
.vendor
.venv
tmp
__pycache__
*.py[cod]
*.log
*.sqlite3
front/admin/dist
front/admin/node_modules
front/client/dist
front/client/node_modules
node_modules

